.header {
  display: flex;
  align-items: center;
  justify-content: left;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(33, 31, 36, 0.973);
}

.header .logo {
  height: 15rem;
  padding-top: 0.2rem;
}

.title-group i {
  padding-left: -0.5rem;
}

@media only screen and (max-width: 675px) {
  .header .logo {
    height: 10rem;
  }
}

@media only screen and (max-width: 420px) {
  .title {
    display: none;
  }
}
