.home .title{
    font-size: 2rem;    
    font-weight: 300;
    margin-bottom: 2rem;
}

.home .subtitle{
    font-size: 1rem;  
}

@media only screen and (max-width: 450px) {
    .home .title{
        font-size: 1.5rem;    
        font-weight: 300;
    }
    
    .home .subtitle{
        font-size: 1rem;  
        line-height: 1.5rem;
    }
  }